.project_card {
    padding: 1rem;
    border: 1px solid #7A7A7A;
    border-radius: 5px;
    width: 24%;
    margin: 0.5%;
}
.project_card h4 {
    background-color: #222;
    color: #FFBB33;
    padding: 0.4rem;
    margin-bottom: 1.3rem;
    font-size: 1.3rem;
}

.project_card p {
    color: #7A7A7A;
    margin-bottom: 1rem;
}

.project_card p span {
    font-weight: bold;
}

.category_text {
    display: flex;
    align-items: center;
}

.category_text_span {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #CCC;
  margin-right: 5px;
}

.infra {
  background-color: #FFAEBC;
}

.desenvolvimento {
  background-color: #A0E7E5;
}

.design {
  background-color: #B4F8C8;
}

.planejamento {
  background-color: #FBE7C6;
}

.project_card_actions {
  margin-top: 1.2rem;
  display: flex;
  align-items: center;
}

.project_card_actions a,
.project_card_actions button {
  text-decoration: none;
  border: none;
  background-color: #FFF;
  color: #222;
  font-size: 0.9rem;
  padding: 0.6rem 1rem;
  margin-right: 1rem;
  cursor: pointer;
  border: 1px solid #222;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.project_card_actions svg {
  margin-right: 0.5rem;
}

.project_card_actions a:hover,
.project_card_actions button:hover {
  background-color: #222;
  color: #FFBB33;
}